<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

<div class="wrapper" style="margin: 0 auto;">

<div class="footer-col-wrapper" style="display: flex; justify-content: space-between; width: 100%;">

	  <!-- LEFT COLUMN -->
	  <div class="footer-col footer-col-1" style="flex: 3;">
	    <p class="footer-heading" style="margin-bottom: 0;">{{ site.title }}     <a href="https://github.com/bradkav/PBHbounds" target="_blank">      <img src="https://img.shields.io/badge/GitHub-PBHbounds-0366d6?logo=github&logoColor=white" alt="GitHub repo">    </a></p>
	    <p style="margin-top: 0;">{{ site.description | escape }}</p>
	  </div>

	  <!-- RIGHT COLUMN -->
	  <div class="footer-col footer-col-2" style="flex: 1; text-align: right;">
	    <ul class="contact-list">
			  <ul class="contact-list">
			      <li class="p-name">Bradley J. Kavanagh</li>
			      <li><a class="u-email" href="https://www.bradkav.net">bradkav.net</a></li>
			      <li><a class="u-email" href="mailto:bradkav@gmail.com">bradkav@gmail.com</a></li>
			  </ul>
	    </ul>

	    <div>

	    </div>
	  </div>

	</div>
	

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
