---
---

@import "minima";

.tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        margin-right: 20px;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip.top .tooltiptext {
        bottom: 100%;
        top: auto;
    }

    .tooltip.bottom .tooltiptext {
        top: 100%;
        bottom: auto;
    }
	
	p {
		margin-bottom: 0px;
		
	}
